<section class="container">
  <section class="step-1" *ngIf="currentstep===1">
    <h4 class="Select-Upstream-and-Downstream-portals">
      Select Upstream and Downstream portals
    </h4>
    <div class="Progress-bar">
      <h3 class="Upstream-Portals text-center">Upstream Portals</h3>
      <div class="text-center">
        <div class="selectblock text-center">
          <img
            src="assets/images/Image 5@3x.png"
            class="d-block mx-auto"
            alt="image"
            height="53"
          />
          <label class="chkbox">
            <span class="d-block Fashion-Go">Fashion Go</span>
            <input type="checkbox" checked="checked"/>
            <span class="checkmark home"></span>
          </label>
        </div>
      </div>
      <div class="d-flex justify-content-center align-items-center">
        <div class="circle active">
          <span>&#10003;</span>
        </div>
        <div class="Rectangle-1639 mx-3"></div>
        <div class="circle"></div>
        <div class="Rectangle-1639 mx-3"></div>
        <div class="circle"></div>
      </div>
      <div class="text-center">
        <button class="btn next-btn" (click)="gotoStep2()">Next</button>
      </div>
    </div>
  </section>
  <section class="step-2" *ngIf="currentstep===2">
    <h4 class="Select-Upstream-and-Downstream-portals">
      Select Upstream and Downstream portals
    </h4>
    <div class="Progress-bar">
      <h3 class="Upstream-Portals text-center">Downstream Portalss</h3>
      <div class="text-center">
        <div class="selectblock text-center">
          <img
            src="assets/images/Image 15@3x.png"
            class="d-block mx-auto"
            alt="image"
            height="65"
          />
          <label class="chkbox">
            <input type="checkbox" checked="checked"/>
            <span class="checkmark home"></span>
          </label>
        </div>
      </div>
      <div class="d-flex justify-content-center align-items-center">
        <div class="circle active">
          <span>&#10003;</span>
        </div>
        <div class="Rectangle-1639 fill mx-3"></div>
        <div class="circle active">
          <span>&#10003;</span>
        </div>
        <div class="Rectangle-1639 mx-3"></div>
        <div class="circle"></div>
      </div>
      <div class="text-center">
        <button class="btn next-btn" (click)="gotoStep3()" >Next</button>
      </div>
    </div>
  </section>
  <section class="step-3" *ngIf="currentstep===3">
    <div class="Progress-bar">
      <h3 class="Setup-your-accounts text-center">Setup your accounts</h3>
      <div class="container-fluid">
        <div class="row mx-0">
          <div class="col-md-6">
            <div
              class="home-login-sec d-flex align-items-center justify-content-center"
            >
              <div
                class="d-flex align-items-center justify-content-center"
              >
                <div class="px-3">
                  <img
                    src="assets/images/fashion-go.png"
                    height="100"
                    alt="fashion-go"
                  />
                </div>
                <div>
                  <form method="post" class="login-form-sec px-3">
                    <div class="form-group">
                            <span class="form-icon"
                            ><img
                              src="assets/images/ic_person_24px@3x.png"
                              height="13"
                            /></span>
                      <input
                        class="form-control"
                        type="input"
                        name="Username"
                        placeholder="Username"
                      />
                    </div>
                    <div class="form-group">
                            <span class="form-icon"
                            ><img
                              src="assets/images/ic_lock_24px@3x.png"
                              height="13"
                            /></span>
                      <input
                        class="form-control"
                        type="password"
                        name="password"
                        placeholder="Password"
                      />
                    </div>
                    <div class="form-group">
                      <button class="btn verify-btn">Verified</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div
              class="home-login-sec d-flex align-items-center justify-content-center"
            >
              <div
                class="d-flex align-items-center justify-content-center"
              >
                <div class="px-3">
                  <img
                    src="assets/images/shopify.png"
                    height="100"
                    alt="fashion-go"
                  />
                </div>
                <div>
                  <form method="post" class="login-form-sec px-3">
                    <div class="form-group">
                            <span class="form-icon"
                            ><img
                              src="assets/images/ic_vpn_key_24px@3x.png"
                              width="13"
                            /></span>
                      <input
                        class="form-control"
                        type="input"
                        name="Username"
                        placeholder="API Key"
                      />
                    </div>

                    <div class="form-group">
                            <span class="form-icon"
                            ><img
                              src="assets/images/ic_lock_24px@3x.png"
                              height="13"
                            /></span>
                      <input
                        class="form-control"
                        type="password"
                        name="password"
                        placeholder="Password"
                      />
                    </div>

                    <div class="form-group">
                            <span class="form-icon"
                            ><img
                              src="assets/images/ic_store_24px@3x.png"
                              height="13"
                            /></span>
                      <input
                        class="form-control"
                        type="input"
                        name="Username"
                        placeholder="Store Name"
                      />
                    </div>
                    <div class="form-group">
                      <button class="btn verify-btn">Verified</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <h4 class="text-center imp-txt">
          <strong>IMPORTANT:</strong> Merchant account once setup CANNOT
          be changed later
        </h4>
      </div>
      <div class="d-flex justify-content-center align-items-center">
        <div class="circle active">
          <span>&#10003;</span>
        </div>
        <div class="Rectangle-1639 fill mx-3"></div>
        <div class="circle active">
          <span>&#10003;</span>
        </div>
        <div class="Rectangle-1639 fill mx-3"></div>
        <div class="circle active">
          <span>&#10003;</span>
        </div>
      </div>
      <div class="text-center">
        <button class="btn finish-btn" (click)="gotoSubscription()">Finish Setting Up</button>
      </div>
    </div>
  </section>
</section>
