<div class="bodycon pb-5">


  <div class="dpTopStrip mb-3" style="margin-top: 45px;">
    <div class="container-fluid">
      <div class="dpTopStripFlex">
        <div class="dtsText">
          <h5>
            <span>Order Number</span> {{selectedProduct?.orderNumber}}
          </h5>

        </div>
        <div class="">
          <h3>{{selectedProduct?.skuUpstream}}</h3>
        </div>

        <div class="dtsText">
          <h5>
            <span>Style Title</span> {{selectedProduct?.title}}
          </h5>
        </div>
        <div class="dtsText">
          <h5>
            <span>Vendor Name</span> {{selectedProduct?.vendor}}
          </h5>

        </div>

        <div class="dtsText">
          <h5>
            <span>Style Quantity </span> {{selectedProduct?.quantity}}
          </h5>

        </div>

        <div class="dtsText">
          <h5>
            <span>Status </span> {{selectedProduct?.downstreamStatus || 'NA'}}
          </h5>

        </div>

        <div class="dtsText">
          <h5 >
            <span>Publishing Date </span>
            <span *ngIf="selectedProduct?.isReadonly">{{getDate(selectedProduct?.publishingDate)}}</span>
            <input *ngIf="!selectedProduct?.isReadonly" (click)="d11.toggle()"  [minDate]="minDate" id="datepicker11"
                   width="140" placeholder="yyyy-mm-dd" [(ngModel)]="selectedProduct.publishingDate"
                   name="dp" ngbDatepicker
                   #d11="ngbDatepicker">
          </h5>

        </div>


        <div class="dtsText">
          <button (click)="back()"><img src="assets/images/cancel.png" alt="cancel"></button>
        </div>

      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div id="demo" class="carousel slide" data-ride="carousel">


          <!-- The slideshow -->
          <div class="carousel-inner">
<!--            <ngb-carousel #carousel [interval]="false" [keyboard]="false" [wrap]="false" [showNavigationArrows]="false"-->
<!--                          [activeId]="activeSliderId"  [pauseOnHover]="pauseOnHover" (slide)="onSlide($event)">-->
<!--            *ngFor="let image of getImages(selectedProduct?.photos)"-->
             <div class="productDetailsImgSec">
<!--               <ng-template  >-->

                 <img  [src]="selectedProduct?.photos[primaryImageSrc]" alt="Los Angeles">
<!--               </ng-template>-->
             </div>

<!--            </ngb-carousel>-->
             <div class="carouselThumbnail">
            <button (click)="previousImages()" class="carousel-control-prev prevBtnCarousel"><span class="carousel-control-prev-icon">Prev</span></button>
            <ul class="carousel-thumbnail">

              <li class="carousel-thumbnail__item list-inline-item" *ngFor="let photo of copyData;let i = index" (click)="cycleToSlide(photo)">
                <a class="selected">
                  <img width="30px" class="carousel-thumbnail__img" [src]="selectedProduct?.photos[photo]">
                </a>
              </li>

            </ul>
            <button (click)="nextImages()" class="carousel-control-next nextBtnCarousel"><span class="carousel-control-next-icon">Next</span></button>
            </div>
          </div>

          <!-- Left and right controls -->
          <a *ngIf="selectedImageIndex > 0" class="carousel-control-prev" href="#demo" data-slide="prev" (click)="prevImage()">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a *ngIf="selectedImageIndex < selectedProduct?.formattedImages?.length-1" class="carousel-control-next" href="#demo" data-slide="next" (click)="nextImage()">
            <span class="carousel-control-next-icon"></span>
          </a>

        </div>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-2 text-center">
            <h5 class="detailsTitleH5">Product Details</h5>
          </div>
          <div class="col-md-9">
            <div class="">
              <textarea class="w-100" style="font-size: 13px;" [(ngModel)]="selectedProduct.details" rows=5
                        cols=50>{{selectedProduct?.details}}</textarea>
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-md-1"></div>
          <div class="col-md-2 text-center">
            <h5 class="detailsTitleH5">Style Color</h5>
            <select class="form-control lightGray" [(ngModel)]="selectedColor">
              <option *ngFor="let item of selectedProduct?.variantColors">{{item}}</option>
            </select>
          </div>
          <div class="col-md-9">
            <div class="styleVarient">
              <ul class="flex-container">
                <li class="flex-item flex1">
                  <span>Variant Size</span>
                </li>
                <li class="flex-item flex2" *ngFor="let variant of selectedProduct?.variantSizes">{{variant}}</li>
              </ul>
              <ul class="flex-container fcBorderBottomNone">
                <li class="flex-item flex1"><span>Variant Quantity</span></li>
                <li class="flex-item flex2" *ngFor="let size of selectedProduct?.variantSizes">{{selectedProduct?.variantQuantities[selectedColor+'##'+size]}}</li>
              </ul>
            </div>
          </div>
        </div>


        <div class="row mt-3">
          <div class="col-md-1"></div>
          <div class="col-md-2 text-center">
            <h5 class="detailsTitleH5 mt-2">Tags</h5>
          </div>
          <div class="col-md-8">
            <div class="ribbonTd" *ngFor="let tag of selectedProduct?.tags">
              <span style="cursor:pointer;position: absolute;
    left: 5px;" (click)="removeFromList(tag)">X</span>
              <span class="ribbonTdTag">{{tag}}</span>
            </div>
            <div class="ribbonTd1 ribbonTdRight" style="margin-right: 0px !important;" data-toggle="modal" data-target="#myModal">
              <span style="cursor: pointer; width: 18px; height: 18px; display: inline-block; position: relative;
    top:1px; left:1px;">+</span></div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-1"></div>
          <div class="col-md-2 text-center">
            <h5 class="detailsTitleH5 mt-2">SKU</h5>
          </div>
          <div class="col-md-3">
            <input *ngIf="!selectedProduct?.isReadonly" [title]="selectedProduct.skuDownstream" type="text" class="form-control" [(ngModel)]="selectedProduct.skuDownstream">
            <span *ngIf="selectedProduct?.isReadonly" >{{selectedProduct.skuDownstream}}</span>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-1"></div>
          <div class="col-md-2 text-center">
            <h5 class="detailsTitleH5 mt-2">Product Type</h5>
          </div>
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-4">

                <select style="font-size: 13px;" class="form-control"
                        [(ngModel)]="selectedProduct.productType">
                  <option>Select</option>
                  <option *ngFor="let ptype of productTypes"
                          [selected]="ptype === selectedProduct?.productType">{{ptype}}</option>
                  <option value="other">Other</option>
                </select>
                <br>
                <input *ngIf="selectedProduct.productType === 'other'" type="text" class="form-control"
                       [(ngModel)]="selectedProduct.productTypeOther">
              </div>
              <div class="col-md-8">
                <div class="row">
                  <div class="col-md-3">
                    <h5 class="detailsTitleH5 mt-2">Collections</h5>
                  </div>
                  <div class="col-md-7">
                    <select style="font-size: 13px;" class="form-control"
                            [(ngModel)]="selectedProduct.collections">
                      <option>Select</option>
                      <option *ngFor="let collection of collections"
                              [selected]="collection === selectedProduct?.collections">{{collection}}</option>
                      <option value="other">Other</option>
                    </select>
                    <br>
                    <input *ngIf="selectedProduct.collections === 'other'" type="text" class="form-control"
                           [(ngModel)]="selectedProduct.collectionOther">
                  </div>
                </div>


              </div>
            </div>

          </div>
        </div>

        <div class="row mt-3">
          <div class="col-md-1"></div>
          <div class="col-md-2 text-center">
            <h5 class="detailsTitleH5 mt-2">Unit Price<small>(Inc. Shipping)</small></h5>
          </div>
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-2">

                <input style="font-size: 13px;" class="form-control"
                       [(ngModel)]="selectedProduct.unitPriceWithShippingFee"
                       (ngModelChange)="getSalePrice()" >
              </div>
              <div class="col-md-8">
                <div class="row">
                  <div class="col-md-3">
                    <h5 class="detailsTitleH5 mt-2">Mark-up</h5>
                  </div>
                  <div class="col-md-3">
                    <input style="font-size: 13px;" class="form-control"
                           [(ngModel)]="selectedProduct.markup" (ngModelChange)="getSalePrice()">
                  </div>
                  <div class="col-md-3">
                    <h5 class="detailsTitleH5 mt-2">Sale Price</h5>
                  </div>
                  <div class="col-md-3">
                    <input style="font-size: 13px;" class="form-control" disabled
                           [value]="'$'+selectedProduct.salePrice">
                  </div>
                </div>


              </div>
            </div>

          </div>
        </div>

        <div class="text-center" style="margin-left: 110px; margin-top:60px;">
          <button class="btn btn-primary loadSource" (click)="saveData()">Save Changes</button>
        </div>
      </div>

    </div>

  </div>


</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add Tags</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6" >
            <input #customtag class="form-control" type="text" placeholder="Add new tag">

          </div>
          <div class="col-md-6" >
            <button class="btn btn-primary" (click)="addToTags(customtag)">Add</button>
          </div>
        </div>
        <div style="margin-top:20px;" class="row" >
          <div class="col-md-6" *ngFor="let tag of tags">
            <input type="checkbox" class="tags" [checked]="hasValue(tag)"
                   (click)="addToList($event.target.checked,tag)">
            <label style="margin-left: 10px !important; " >{{tag}}</label>

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div style="float: left">
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="addListToProduct()">Add</button>
        </div>
        <div style="float: right">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>

  </div>
</div>
<app-loading *ngIf="loading"></app-loading>
