<nav class="navbar mainNavbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" routerLink="/home">COMPANY INC.</a>
  <!-- Links -->
  <ul class="navbar-nav nnLeft">
    <li class="nav-item" [routerLinkActive]="['active']">
      <a class="nav-link homeIcon" [routerLinkActive]="['active']" routerLink="/home">Home</a>
    </li>
    <li class="nav-item" >
      <a class="nav-link dashboardIcon" [routerLinkActive]="['active']" routerLink="/dashboard">Dashboard</a>
    </li>
    <li class="nav-item" [routerLinkActive]="['active']">
      <a class="nav-link helpCenterIcon" [routerLinkActive]="['active']" >Help Center</a>
    </li>
  </ul>


  <ul class="navbar-nav nnRight ml-auto">
    <li class="nav-item dropdown ">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{userDetails?.username | uppercase}}</a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" style="cursor: pointer;" (click)="logout()">Logout</a>
      </div>
    </li>
    <li><a href="#" class="userProfileIcon"><img src="assets/images/user-profile-icon.png"/></a></li>
  </ul>

</nav>
