<section class="container custom-box1">
  <section class="payment-confirm-sec text-center">
    <h3 class="payment-confirmation-title">Payment Configuration</h3>
    <div class="form-group mt-4 mb-5">
      <label
        class="container-checkbox checkbox-inline Payment-is-confirmed"
      >Payment is confirmed
<!--        <input type="checkbox" checked="checked" disabled/>-->
        <span class="checkmark"></span>
      </label>
    </div>

    <button class="btn setup-acc-btn" (click)="setUpYourAccount()">Setup Your Account</button>
  </section>
</section>
