<div class="home-page" >
<section class="container text-center">
  <section class="sub-content">
    <div class="part1">
      <h4 class="form-title text-left">Choose a Plan</h4>
      <label class="plan-name-txt" for="plan">Plan Name</label>
      <select id="plan" class="selectplan" [(ngModel)]="selectedValue" (change)="selectSubscription()" >
        <option [value]="subscription?.subscriptionID"  *ngFor="let subscription of subscriptions">
              {{subscription?.subscriptionName}}
        </option>
      </select>
      <ul class="list plan-def">
<!--        <li>-->
<!--          <label-->
<!--          ><span class="lable-txt">Downstream Portals</span-->
<!--          ><span>1</span></label-->
<!--          >-->
<!--        </li>-->
<!--        <li>-->
<!--          <label-->
<!--          ><span class="lable-txt">Upstream Portals</span-->
<!--          ><span>1</span></label-->
<!--          >-->
<!--        </li>-->
        <li  *ngFor = "let feature of selectedSubscription?.featureList">
          <label>
            <span style="width: 100% !important;font-size: 15px !important;" class="lable-txt" >
              {{feature}}</span>
            <!--            <span>Unlimited</span>-->
          </label
          >
        </li>
      </ul>

      <label for="tenure" class="plan-name-txt">Tenure</label>
      <select id="tenure" class="selectplan">
        <option label="{{selectedSubscription?.subscriptionValidityPeriodInMonth}} Month(s)">{{selectedSubscription?.subscriptionValidityPeriodInMonth}} Month(s)</option>
      </select>

      <div class="currency-sec">
              <span class="currency">{{selectedSubscription?.subscriptionCost}}<span class="mx-2">$</span></span
              ><span class="month-txt">/{{selectedSubscription?.subscriptionValidityPeriodInMonth}} month(s)</span>
      </div>
    </div>

    <div class="part2">
      <form action="" class="billing-info" [formGroup]="paymentForm">
        <h4 class="form-title">Billing information</h4>
        <div class="form-group">
          <label for="cname">*Customer Name</label>
          <input
            type="text"
            id="cname"
            name="cname"
            formControlName="cname"
            class="form-control input-box"
          />


        </div>
        <div style="margin-top: -7px !important;" class="error-text" *ngIf="paymentForm.get('cname').touched && paymentForm.get('cname').hasError('required')">
          Customer Name can't be blank
        </div>
        <div class="form-group">
          <label for="address">*Line 1</label>
          <input
            type="text"
            id="address"
            name="address"
            formControlName="address"
            class="form-control input-box"
          />
          <br>

        </div>
        <div style="margin-top: -7px !important;"  class="error-text" *ngIf="paymentForm.get('address').touched && paymentForm.get('address').hasError('required')">
          Line 1 can't be blank
        </div>
        <div class="form-group">
          <label for="address">Line 2</label>
          <input
            type="text"
            id="line2"
            name="line2"
            formControlName="line2"
            class="form-control input-box"
          />
        </div>
        <div class="form-group">
          <label for="country">*Country</label>
<!--          <select id="country" formControlName="country" class="form-control input-box"></select>-->
          <select
            style="padding: 0rem !important;"
            id="country"
            formControlName="country"
            class="form-control input-box w130"
          >
            <option *ngFor="let country of contryList"  [value]="country.value">{{country.label}}</option>

          </select>

        </div>
        <div style="margin-top: -7px !important;"  class="error-text" *ngIf="paymentForm.get('country').touched && paymentForm.get('country').hasError('required')">
          Country can't be empty
        </div>
        <div class="form-group">
          <label for="city">*City</label>
<!--          <select id="city" formControlName="city"  class="form-control input-box"></select>-->
          <input
            type="text"
            id="city"
            name="address"
            formControlName="city"
            class="form-control input-box"
          />

        </div>
        <div style="margin-top: -7px !important;" class="error-text" *ngIf="paymentForm.get('city').touched && paymentForm.get('city').hasError('required')">
          City can't be blank
        </div>
        <div class="form-group">
          <label for="code">*Zip Code</label>
          <input
            type="text"
            id="code"
            formControlName="zipcode"
            name="code"
            maxlength="6"
            minlength="5"
            class="form-control input-box"
          />

        </div>
        <div style="margin-top: -7px !important;" class="error-text" *ngIf="paymentForm.get('zipcode').touched && paymentForm.get('zipcode').hasError('required')">
          Zip Code can't be blank
        </div>
        <div style="margin-top: -7px !important;" class="error-text" *ngIf="paymentForm.get('zipcode').touched && paymentForm.get('zipcode').hasError('minlength')">
          Zip Code must be 5 to 6 digits
        </div>
        <div style="margin-top: -7px !important;" class="error-text" *ngIf="paymentForm.get('zipcode').touched && paymentForm.get('zipcode').hasError('maxlength')">
          Zip Code must be 5 to 6 digits
        </div>
        <div style="margin-top: -7px !important;" class="error-text" *ngIf="paymentForm.get('zipcode').touched && paymentForm.get('zipcode').hasError('NumericError')">
          Only numbers allowed
        </div>
        <div class="">
          <h4 class="form-title">Payment information</h4>
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              name="name"
              formControlName="cardName"

              class="form-control input-box"
            />


          </div>
          <div style="margin-top: -7px !important;"  class="error-text" *ngIf="paymentForm.get('cardName').touched && paymentForm.get('cardName').hasError('required')">
            Name can't be blank
          </div>
          <div class="form-group">
            <label for="card">Credit/Debit Card</label>
            <input
              type="text"
              id="card"
              name="card"
              formControlName="card"
              placeholder="Enter 16 Digit Card Number"
              class="form-control input-box"
            />

          </div>
          <div style="margin-top: -7px !important;" class="error-text" *ngIf="paymentForm.get('card').touched && paymentForm.get('card').hasError('required')">
            card can't be blank
          </div>
          <div  style="margin-top: -7px !important;" class="error-text" *ngIf="paymentForm.get('card').touched && paymentForm.get('card').hasError('minlength')">
            Card Number must be 16 digits
          </div>
          <div style="margin-top: -7px !important;" class="error-text" *ngIf="paymentForm.get('card').touched && paymentForm.get('card').hasError('maxlength')">
            Card number must be 16 digits
          </div>
          <div style="margin-top: -7px !important;" class="error-text" *ngIf="paymentForm.get('card').touched && paymentForm.get('card').hasError('NumericError')">
            Only numbers allowed
          </div>
          <div class="form-group pull-left">
            <label for="validity">Validity</label>
            <input
              type="text"
              id="validity"
              formControlName="validity"
              name="validity"
              placeholder="MM/YY"
              class="form-control valid-input-box"
            />
          </div>
          <div style="margin-top: -7px !important;" class="error-text" *ngIf="paymentForm.get('validity').touched && paymentForm.get('validity').hasError('required')">
            Validity can't be blank
          </div>
          <div style="margin-top: -7px !important;" class="error-text" *ngIf="paymentForm.get('validity').touched && paymentForm.get('validity').hasError('expiryError')">
            Validity number must be MM/YY format
          </div>
          <div class="form-group pull-right">
            <label for="cvv">CVV</label>
            <input
              type="text"
              id="cvv"
              name="vv"
              formControlName="cvv"
              class="form-control cvv-input-box"
            />

          </div>
          <div style="margin-top: -7px !important;" class="error-text" *ngIf="paymentForm.get('cvv').touched && paymentForm.get('cvv').hasError('required')">
            CVV can't be blank
          </div>
          <div style="margin-top: -7px !important;" class="error-text" *ngIf="paymentForm.get('cvv').touched && paymentForm.get('cvv').hasError('minlength')">
            CVV number must be 3 digits
          </div>
          <div style="margin-top: -7px !important;" class="error-text" *ngIf="paymentForm.get('cvv').touched && paymentForm.get('cvv').hasError('maxlength')">
            CVV number must be 3 digits
          </div>
          <div style="margin-top: -7px !important;" class="error-text" *ngIf="paymentForm.get('cvv').touched && paymentForm.get('cvv').hasError('NumericError')">
            Only numbers allowed
          </div>
        </div>
        <button type="button" [disabled]="!paymentForm.valid" class="payment-btn" (click)="proceedToPayment()">
          Proceed to Payment
        </button>
      </form>
    </div>
  </section>
</section>
</div>
<app-loading *ngIf="loading"></app-loading>
<app-loading *ngIf="paymentInprocess"></app-loading>
