.carousel-item.active:focus {
  outline: none !important;
}
.carousel:focus {
  outline: none !important;
}
.banner-caption h1{
  font-size: 2.25rem !important;
  font-weight: normal;
  text-transform: none !important;
}
