<section class="container-fluid mainBackgroundBg">

  <div class="d-block dashboardTabButtons" *ngFor="let upstream of upStreamPortals;">
    <button (click)="upStreamPortal=upstream?.portalID;getProducts()"
            [class.active]="upStreamPortal==upstream?.portalID" class="btn tab-btn ">
      <img [src]="upstream?.portalLogoIconURL" width="20px"/> {{upstream?.portalName}}
    </button>
  </div>
  <section class="workspace-sec">

    <div class="bodycon pb-3">
      <div class="container-fluid">

        <section class="table-search-div">

          <div class="date-search">
            <div class="form-group-item">
              <label>From</label>
              <div class="fromtoInput">
                <input (click)="d.toggle()" id="datepicker" width="220" placeholder="yyyy-mm-dd" [(ngModel)]="fromDate"
                       name="dp" ngbDatepicker
                       #d="ngbDatepicker">
              </div>
            </div>
            <div class="form-group-item">
              <label>To</label>
              <div class="fromtoInput">
                <input (click)="d1.toggle()" id="datepicker1" width="140" placeholder="yyyy-mm-dd" [(ngModel)]="toDate"
                       name="dp" ngbDatepicker
                       #d1="ngbDatepicker">
              </div>
            </div>
            <div class="form-group mb-0">
              <button class="btn load-from-source" (click)="loadFromSource()">
                Load From Source
              </button>
            </div>
          </div>
          <div class="keyword-search">
            <div class="form-group mb-0">
              <form class="form-inline" name="searchForm" action="">
                <label for="email">
                  <span class="Keyword mr-2">Keyword</span>
                </label>
                <input
                  type="text"
                  name="orderNumber"
                  [(ngModel)]="orderNumber"
                  class="form-control mr-3 keyinput-val"
                  placeholder="Enter keyword"
                  id="email"
                />
                <button *ngIf="!isSearched" (click)="filterByOrderNumber()" class="btn search-btn">Search</button>
                <button type="submit" *ngIf="isSearched" class="btn btn-primary loadSource" (click)="clearTableData()">
                  Clear
                </button>
              </form>
            </div>
            <div class="form-group mb-0"></div>
          </div>
          <div class="sortby-search">
            <div class="row">
              <div class="col-8">
                <div class="form-group-item-2">
                  <label><span class="sort-by-txt">Sort By</span></label>
                  <select class="select-bg" (change)="sortData($event.target.value)">
                    <option value="">Select</option>
                    <option value="collections">Collections</option>
                    <option value="details">Details</option>
                    <option value="markup">Markup</option>
                    <option value="orderNumber">Order Number</option>
                    <option value="productType">Product Type</option>
                    <option value="title">Style</option>
                    <option value="unitPriceWithShippingFee">Unit Price</option>
                  </select>
                </div>
                <div class="form-group-item-2">
                  <label><span class="status-txt">Status</span></label>
                  <select class="select-bg" (change)="filterData($event.target.value)">
                    <option value="">Select</option>
                    <option *ngFor="let status of uniqueStatuses">{{status}}</option>
                  </select>
                </div>
              </div>
              <div class="col-4">
                <div class="d-flex align-items-center mh90">
                  <button class="btn refresh-btn" (click)="getProducts()">Refresh</button>
                </div>
              </div>
            </div>
          </div>
        </section>

        <div class="tableFixHead d-block">
          <table id = "productsTable">
            <thead>
            <tr>
              <th>S.No</th>
              <th>Select</th>
              <th>Style</th>
              <th>Product Details</th>

              <th>Product Type</th>

              <th>Collection</th>
              <th>Tags</th>
              <th>{{getPortalName(downStreamPortal)}} SKU</th>
              <th>Unit Price
                <small>(Inc. shipping)</small></th>
              <th>Markup</th>

              <th>Sale Price</th>
              <th>Order
                Number
              </th>
              <th>{{getPortalName(downStreamPortal)}} Status</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of pagedItems;let i =index;">
              <td align="center" class="snoTd">{{getProductIndx(item?.productID)}}</td>
              <td align="center">
                <input type="checkbox" (click)="selectProduct($event,item)">
              </td>
              <td class="styleTd">
                <div class="styleImg">
                  <img style="cursor:pointer;" (click)="details(item?.productID)"
                       [src]="getImage(item?.photos)"/></div>
                <h6 style="cursor:pointer;" (click)="details(item?.productID)" class="styleName">{{item?.title}}</h6>
              </td>
              <td class="pdTd">
               <textarea style="width:100%;resize: none;font-size: 10px" rows=10 cols=40
                         [(ngModel)]="item.details">{{item?.details}}</textarea>
                <span data-toggle="modal" data-target="#myModal1" style="cursor: pointer;
    bottom: 0;
    text-align: center;
    right: 10px;
    font-weight: bold;" (click)="selectDetIndex(item.productID)">...</span>
              </td>
              <td class="ptTd">
                <select class="form-control tableInput" [(ngModel)]="item.productType">
                  <option>Select</option>
                  <option *ngFor="let ptype of productTypes" [selected]="ptype === item?.productType">{{ptype}}</option>
                  <option value="other">Other</option>
                </select>
                <br>
                <input *ngIf="item.productType === 'other'" type="text" class="form-control"
                       [(ngModel)]="item.productTypeOther">
              </td>
              <td class="ptTd">
                <select class="form-control tableInput" [(ngModel)]="item.collections">
                  <option>Select</option>
                  <option *ngFor="let collection of collections"
                          [selected]="collection === item?.collections">{{collection}}</option>
                  <option value="other">Other</option>
                </select>
                <br>
                <input *ngIf="item.collections === 'other'" type="text" class="form-control"
                       [(ngModel)]="item.collectionOther">
              </td>
              <td class="ptTags">
                <div class="ribbonTd" *ngFor="let tag of item?.tags;let j =index;">
              <span style="cursor:pointer;position: absolute;
    left: 5px;" class="closeIconSec" (click)="removeFromList(item.id,tag)">X</span>
                  <span>  {{tag}}</span>
                </div>
                <p *ngIf="getTagsLength(item?.tags) > 2">...</p>
                <div class="ribbonTd1">
              <span style="cursor:pointer;width: 18px; line-height: 19px;
    height: 18px;" class="closeIconSec" data-toggle="modal" data-target="#myModal"
                    (click)="selectIndex(item.productID)">+</span>

                </div>
              </td>
              <td class="ptTd">
                <input *ngIf="!checkStatus(item?.downstreamStatus)" [title]="item.skuDownstream" type="text"
                       class="form-control" [(ngModel)]="item.skuDownstream">
                <span *ngIf="checkStatus(item?.downstreamStatus)">{{item.skuDownstream}}</span>
              </td>
              <td class="unitPrice">
                <input  type="text"
                       class="form-control" [(ngModel)]="item.unitPriceWithShippingFee">
               </td>
              <td><input type="text" class="form-control markupInput" [(ngModel)]="item.markup"></td>
              <td align="center"><p>$ {{getSalePrice(item?.unitPriceWithShippingFee, item?.markup)}} </p></td>
              <td><p>{{item?.orderNumber}}</p></td>
              <td><p>{{item?.downstreamStatus || 'N/A'}}</p></td>
              <td>
                <button (click)="saveData(item)" class="btn saveBtn">Save</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

        <div class="tablePagination mt-3 pt-1">
          <div class="table-footer-sec">
            <div class="item-1">
              <div class="exported-txt">
               &nbsp;
              </div>

            </div>
            <div class="item-2">
              <div class="export-type">
                <select class="select-bg" style="margin-right:30px;" [(ngModel)]="downStreamPortal"
                        (change)="getProducts()">
                  <option *ngFor="let downStream of downStreamPortals;"
                           [value]="downStream?.portalID"> {{downStream?.portalName}}</option>
                </select>
              </div>
              <button (click)="uploadProducts()" class="btn exportDestination">
                Export to Destination
              </button>
            </div>
            <ngb-pagination style="position: absolute;right: 0" [collectionSize]="pager.totalItems"
                            [pageSize]="pager.pageSize" [(page)]="pager.currentPage"
                            [maxSize]="3" [rotate]="false" (pageChange)="setPage(pager.currentPage)"
                            [boundaryLinks]="false"></ngb-pagination>

          </div>


        </div>
      </div>
    </div>

    <div class="progressToggle">
      <div class="collapse" id="collapseExample"
           style="background-color:#0a2052; border-radius:10px; width:400px; padding:20px 15px 0px;">
<!--        <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"-->
<!--           aria-controls="collapseExample">-->
<!--          <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="#fff" class="bi bi-x-circle-fill"-->
<!--               viewBox="0 0 16 16" class="collapseCloseIcon">-->
<!--            <path-->
<!--              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>-->
<!--          </svg>-->
<!--        </a>-->
        <div *ngIf="checkNotifications()" >
          <div class="progressSection" *ngFor="let notification of notifications">
            <div class="progress" *ngIf="notification?.messageType==='PROGRESS'">
              <div class="progress-bar"
                   role="progressbar"
                   style="width: 25%"
                   [attr.aria-valuenow]="notification.percentFinish"
                   [style.width]="notification.percentFinish + '%'"
                   aria-valuemin="0"
              ></div>
            </div>
            <svg (click)="stopNotifications()" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#fff"
                 class="bi bi-x-circle-fill" viewBox="0 0 16 16" class="crossIcon">
              <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
            </svg>
            <div class="progressMessage">
              <img *ngIf="getPortalUrl(notification?.upstreamPortalId,'up')"
                   [src]="getPortalUrl(notification?.upstreamPortalId,'up')" alt="search"/>
              {{notification?.message}}</div>
          </div>

          <div class="progressSection" *ngFor="let upnotify of uploadNotifications">
            <div class="progress" *ngIf="upnotify?.messageType==='PROGRESS'">
              <div class="progress-bar"
                   class="progress-bar"
                   role="progressbar"
                   style="width: 25%"
                   [attr.aria-valuenow]="upnotify.percentFinish"
                   [style.width]="upnotify.percentFinish + '%'"
                   aria-valuemin="0"
              ></div>
            </div>
            <svg (click)="stopNotificationsUpload()" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#fff" class="bi bi-x-circle-fill" viewBox="0 0 16 16" class="crossIcon">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
            </svg>
            <div class="progressMessage">
              <img [src]="getPortalUrl(upnotify?.upstreamPortalId,'up')"   alt="search"/>
              <img style="background-color: #fff;" src="assets/images/right-arrow1.png" width="20px" />
              <img  [src]="getPortalUrl(upnotify?.downstreamPortalId,'down')"  alt="search"/>

              {{upnotify?.message}}
            </div>
          </div>

        </div>
        <div *ngIf="notifications.length===0 && uploadNotifications.length===0" class="progressMessage" style="margin-bottom: 30px;" >
         <span *ngIf="isUploadStarted || isDownloadedStarted">Your download/upload is in process you will be notified here with updates</span>
          <span *ngIf="!isUploadStarted && !isDownloadedStarted">
            Looks like you haven't started any Download/Upload
          </span>
        </div>
      </div>

      <a id="openModalButtonDownload" class="btn btn-primary" data-toggle="collapse" href="#collapseExample"
         role="button" aria-expanded="false" aria-controls="collapseExample">
        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-list"
             viewBox="0 0 16 16">
          <path fill-rule="evenodd"
                d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
      </a>

    </div>


  </section>
</section>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add Tags</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <input #customtag class="form-control" type="text" placeholder="Add new tag">

          </div>
          <div class="col-md-6">
            <button class="btn btn-primary" (click)="addToTags(customtag)">Add</button>
          </div>
        </div>
        <div style="margin-top:20px;" class="row" *ngIf="isProdSelected">
          <div class="col-md-6" *ngFor="let tag of tags">
            <input type="checkbox" class="tags" [checked]="hasValue(tag)"
                   (click)="addToList($event.target.checked,tag)">
            <label style="margin-left: 10px !important; ">{{tag}}</label>

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div style="float: left">
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="addListToProduct()">Add</button>
        </div>
        <div style="float: right">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- Modal -->
<div id="myModal1" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Product Details</h4>
      </div>
      <div class="modal-body">
        <textarea rows="10" cols="58" [(ngModel)]="selectedProdDetails"></textarea>
      </div>
      <div class="modal-footer">
        <div style="float: left">
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="updateProductDetails()">Add
          </button>
        </div>
        <div style="float: right">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>

  </div>

</div>
<app-loading *ngIf="loading"></app-loading>
